<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="50%">
    <app-course-description [id]="id"></app-course-description>
    <app-news [id]="id"></app-news>
    <app-documents [id]="id"></app-documents>
  </div>
  <div fxFlex="50%">
    <app-course-progress [id]="id"></app-course-progress>
    <app-course-sequence [id]="id" [style]="'short'"></app-course-sequence>
    <app-course-students-component [id]="id"></app-course-students-component>
  </div>
