.news-header-image {
  background-image: url('/assets/images/news.png');
  background-size: cover;
}

.mat-icon {
  font-size: 30px;
}

.spinner-margin {
  margin: 0 10px;
}

.align-right{ float:right}



