<mat-card *ngIf="course" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="course-header-image"></div>
    <mat-card-title><h3>{{ course.courseTitle }}</h3></mat-card-title>
    <mat-card-subtitle>{{ course.creatorID }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ course.courseDescription }} </p>
    <p>{{ course.created_at | date :  "dd.MM.y" }} </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="this.userService.user.local.userType=='teacher'" mat-button>Edit</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example card" *ngFor="let newsItem of news">
  <mat-card-header>
    <mat-card-title>{{ newsItem.title }}</mat-card-title>
    <div mat-card-avatar class="news-header-image"></div>
    <mat-card-subtitle>{{ newsItem.created_at | date :  "dd.MM.y"}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{newsItem.content}}</p>
  </mat-card-content>
</mat-card>
