<h2>Add new sequence</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title:"  [(ngModel)]="sequence.sequenceTitle" type="text" class="form-control" id="title" required name="title" >
    </mat-form-field>
      <angular-editor [config]="editorConfig" class="form-control" placeholder="Sequence description here..."  matInput [(ngModel)]="sequence.sequenceDescription"></angular-editor>
        <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit"  cdkFocusInitial  [mat-dialog-close]="" (click)="onSubmit()">Create</button>
      <button mat-button (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>

