<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon matListIcon>book</mat-icon>
    </div>
    <mat-card-title><h3>{{ userService.getCurrentCourse().courseTitle }}</h3></mat-card-title>
    <mat-card-subtitle>{{ userService.getCurrentCourse().creatorID }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p [innerHTML]="userService.getCurrentCourse().courseDescription"></p>
  </mat-card-content>

  <mat-card-actions>
    <button class="align-right" [matMenuTriggerFor]="courseMenu" *ngIf="userService.user.local.userType=='teacher'"
            mat-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #courseMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
      <button *ngIf="userService.user.local.userType=='teacher'" mat-button (click)="openCourseDialog()">Edit</button>
    </mat-menu>
  </mat-card-actions>

</mat-card>
