<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="30%">
  </div>


  <div fxFlex="40%">
    <mat-card class="login-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title><h3>Discimus Sign In</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" [(ngModel)]="this.username" name="username" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="password"matInput placeholder="Password"  [(ngModel)]="this.password" name="password" required>
        </mat-form-field>

        <div  *ngIf="loginFeedback">
          <p>{{loginFeedback}}</p>
        </div>
        <!--  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="doLogIn()" color="primary" class="full-width">Sign in</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="30%">

  </div>

</div>


