<div *ngFor="let sequence of sequences"  class="card" >
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar > <mat-icon matListIcon>assignment</mat-icon></div>
      <mat-card-title><div class="card-header">{{sequence.sequenceTitle}}</div></mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="style!='short'">
      <p>{{sequence.sequenceDescription}}</p>
      <p>You have answered {{answeredQuestionCounter(sequence._id)}} questions of {{sequence.questions.length}} in this sequence.<p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="link"  [routerLink]="['/sequence/'+sequence._id,{ outlets: { sequenceSection : 'home' } }]" class="btn btn-primary" >View</button>
    </mat-card-actions>
  </mat-card>
</div>
<button *ngIf="userService.user.local.userType=='teacher'" mat-raised-button color="primary"  (click)="openSequenceDialog()" class="btn btn-primary">New sequence</button>

