<mat-toolbar color="primary">
  <button *ngIf="userService.isUserLoggedIn" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>

    <span class="logo"></span>
    <span  routerLink="/home" routerLinkActive="active">Discimus</span>

  <span class="spacer"></span>
      <div *ngIf="userService.isUserLoggedIn; else elseBlock">
         <a  routerLink="/home" class="nav-link">{{userService.user.local.firstName}}</a>
         <button  mat-icon-button  class="nav-link" (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button>

      </div>

      <ng-template #elseBlock>
        <button mat-icon-button routerLink="/login" routerLinkActive="active" class="nav-link">Log in</button>
      </ng-template>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" opened>
      <mat-list>
        <a mat-list-item role="listitem" routerLink="/home" routerLinkActive="active"><mat-icon matListIcon>home</mat-icon>Home</a>
        <a mat-list-item role="listitem" routerLink="/messages" routerLinkActive="active"><mat-icon matListIcon>message</mat-icon>Messages</a>
        <a mat-list-item role="listitem" routerLink="/about" routerLinkActive="active" ><mat-icon matListIcon>explore</mat-icon>About</a>
        <div *ngIf="userService.courses">
          <h3 mat-subheader>Your courses</h3>
          <a mat-list-item role="listitem"  [routerLink]="['/course/'+course._id,{ outlets: { courseSection : 'home' } }]" *ngFor="let course of userService.courses"> <mat-icon matListIcon>assignment</mat-icon> {{course.courseTitle}}</a>
        </div>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
