<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>

    <span class="logo"></span>
    <span  routerLink="/home" routerLinkActive="active">Discimus</span>

  <span class="spacer"></span>
      <div *ngIf="userService.isUserLoggedIn; else elseBlock">
         <a class="nav-link" >{{userService.user.local.firstName}}</a>
         <button  mat-icon-button  class="nav-link" (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button>

      </div>

      <ng-template #elseBlock>
        <button mat-icon-button routerLink="/login" routerLinkActive="active" class="nav-link">Log in</button>
      </ng-template>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav  #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" opened>
      <mat-list>
        <a mat-list-item role="listitem" routerLink="/admin" routerLinkActive="active"><mat-icon matListIcon>folder</mat-icon>Admin</a>
        <a mat-list-item role="listitem" routerLink="/teacher" routerLinkActive="active"><mat-icon matListIcon>folder</mat-icon>Teacher</a>
        <a mat-list-item role="listitem" routerLink="/student" routerLinkActive="active"><mat-icon matListIcon>folder</mat-icon>Student</a>
        <a mat-list-item role="listitem" routerLink="/login" routerLinkActive="active"><mat-icon matListIcon>folder</mat-icon>Log In</a>
        <a mat-list-item role="listitem" routerLink="/about" routerLinkActive="active" ><mat-icon matListIcon>folder</mat-icon>About</a>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <!--  <div *ngIf="loaderService.isLoading | async;">Loading!</div>-->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
