<mat-toolbar color="accent">
  <span> <a [routerLink]="['/teacher',{ outlets: { teacherSection : 'users' } }]">Courses</a></span>
  <span> <a [routerLink]="['/teacher',{ outlets: { teacherSection : 'courses' } }]">Courses</a></span>
  <span> <a [routerLink]="['/teacher',{ outlets: { teacherSection : 'questions' } }]">Courses</a></span>
</mat-toolbar>

<router-outlet name="teacherSection"></router-outlet>

<h3 *ngIf="userService.isUserLoggedIn">Welcome {{userService.user.local.firstName}}</h3>


<!--
    <div *ngIf="selectedCourse">
      <h2>Edit course</h2>
      <form>
        <div class="form-group">
          <label for="courseTitle">Title:</label>
          <input id="courseTitle"  name="courseTitle" value="{{selectedCourse.courseTitle}}"/>
        </div>
        <div class="form-group">
          <label for="courseText">course:</label>
          <textarea class="form-control" id="courseText" rows="3" name="courseText" value="{{selectedCourse.courseDescription}}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    -->

    <h3>Courses</h3>

    <button mat-raised-button color="primary"  (click)="createNewCourse();return;" >+Add new course</button>

    <table mat-table [dataSource]="courses" class="mat-elevation-z8 full-width">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="/course/{{element._id}}">{{element.courseTitle}}</a></td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.courseDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Created: </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> <mat-icon [routerLink] = "['/course/'+ element._id, { outlets: { courseSection : 'questions' } }]">edit</mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click)="onDelete(element);return;">delete</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div *ngIf="newCourse">
      <h2>Add new course</h2>
      <form #heroForm="ngForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="newCourse.courseTitle" type="text" class="form-control" id="title" required name="title" >
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea [(ngModel)]="newCourse.courseDescription"  name="description" class="form-control" id="description" rows="3" ></textarea>
        </div>
        <button type="submit" class="btn btn-success"  (click)="submitNewCourse();return;">Create</button>
      </form>
    </div>


    <!--
        <div *ngFor="let course of courses"  class="card" >
          <div class="card-header">course</div>
          <div class="card-block">
            <h4 class="card-title">{{course.courseTitle}}</h4>
            <p class="card-text">{{course.courseDescription}}</p>
            <button  [routerLink]="['/teacher/course/edit', course._id]" class="btn btn-primary" >Edit</button>
            <button  class="btn btn-danger" (click)="onDelete(course);return;">Delete</button>
          </div>
        </div>
        -->

