<h3>Welcome {{user.local.firstName}}.</h3>


<div [ngSwitch]="user.local.userType">
  <div *ngSwitchCase="'student'">
    <ng-container *ngTemplateOutlet="student"></ng-container>
  </div>
  <div *ngSwitchCase="'teacher'">
    <ng-container *ngTemplateOutlet="teacher"></ng-container>
  </div>
  <div *ngSwitchCase="'admin'">
    <ng-container *ngTemplateOutlet="admin"></ng-container>
  </div>
</div>

<ng-template  #student>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <div fxFlex="50%">
            <h3>Your courses</h3>

            <div *ngFor="let course of this.userService.courses"  class="card" >
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar> <mat-icon matListIcon>assignment</mat-icon></div>
                  <mat-card-title><div class="card-header"><h3>{{course.courseTitle}}</h3></div></mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  <p [innerHTML]="course.courseDescription"></p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="link"  [routerLink]="['/course/'+course._id,{ outlets: { courseSection : 'home' } }]" class="btn btn-primary"  [class.selected]="course === selectedCourse">View</button>
                  <button mat-raised-button color="warn"   class="btn btn-primary">Unenrole</button>

                </mat-card-actions>
              </mat-card>
            </div>
            <p></p>
            <button mat-raised-button color="primary"  [routerLink]="['/courses/']" class="btn btn-primary">Find more courses!</button>
            <h3>Results</h3>
            <div *ngIf="user.results.length<1; then noResultsContent else resultsContent">
              <ng-template #noResultsContent><p>You currently have no results to show.</p></ng-template>
              <ng-template #resultsContent>
                <h2>Your results:</h2>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Course Title</th>
                    <th>Sequence Title</th>
                    <th>Question Title</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let result of user.results" >
                    <td>{{result.courseTitle}}</td>
                    <td>{{result.sequenceTitle}}</td>
                    <td>{{result.questionTitle}}</td>
                    <td>{{result.dateTime | date:'medium' }}</td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </div>
          </div>

          <div fxFlex="50%">
            <h3>Site News</h3>
            <div *ngFor="let newsItem of news"  class="card" >

              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="news-header-image"></div>
                  <mat-card-title>
                    {{newsItem.title}}
                  </mat-card-title>
                  <mat-card-subtitle>By: {{newsItem.owner.firstName}} {{newsItem.owner.lastName}}  Published: {{newsItem.created_at | date :  "dd.MM.y" }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <p>{{newsItem.content}}</p>
                </mat-card-content>
              </mat-card>

            </div>
          </div>

        </div>
      </ng-template >



<ng-template  #teacher>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
      <h3>Your courses</h3>
      <p></p>
      <div *ngFor="let course of this.userService.courses"  class="card" >
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar> <mat-icon matListIcon>assignment</mat-icon></div>
            <mat-card-title><div class="card-header"><h3>{{course.courseTitle}}</h3></div></mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p [innerHTML]="course.courseDescription | truncate:200"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"  [routerLink]="['/course/'+ course._id,{ outlets: { courseSection : 'home' } }]" class="btn btn-primary"  [class.selected]="course === selectedCourse">View</button>
            <button mat-raised-button color="link"    (click)="unenroleUserFromCourse(course._id)" class="btn btn-primary align-right">Unenrole</button>


          </mat-card-actions>
        </mat-card>

      </div>
      <p></p>
      <button mat-raised-button color="primary"  (click)="openCourseDialog()" class="btn btn-primary">Create new course</button>
    </div>
    <div fxFlex="50%">
      <h3>Site News</h3>
      <div *ngFor="let newsItem of news"  class="card" >

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="news-header-image"></div>
            <mat-card-title>
              {{newsItem.title}}
            </mat-card-title>
            <mat-card-subtitle>By: {{newsItem.owner.firstName}} {{newsItem.owner.lastName}}  Published: {{newsItem.created_at | date :  "dd.MM.y" }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p [innerHTML]="newsItem.content"></p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</ng-template >
